{% extends "base.html.twig" %}

{% block body %}
{{ form_start(form) }}
<div class="container m-4">
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">{{ form_label(form.name) }}</label>
        <div class="col-sm-10">
        {{ form_widget(form.name) }}
        </div>
    </div>
    <input class="btn-color" type='submit' value='Add category'>
</div>
{{ form_end(form) }}
{% endblock %}